* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  
}

h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

ul {
  list-style-type: disc; /* This sets the bullet points to the default disc style */
  padding: 0;
}

li::marker
{
  color: skyblue;
  font-size: 1.2em;
}

li {
  padding: 10px;
  color: white;
  border-bottom: 1px solid #ccc;
  /* This sets the text color to blue */
}

li:last-child {
  border-bottom: none;
}

li:hover {
  background-color: beige;
}

img.white-logo {
  background-color: transparent;
  width: 120px; /* Adjust the width to make the logo bigger */
  align-self: flex-end; /* This aligns the logo to the right */
  margin-top: 20px; /* Add some space between the list and the logo */
}

.nav-title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: #fff;
  padding: 10px;
}

.nav-title img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.nav-title h3 {
  font-size: 44px;
  margin-right: 20px;
  margin-right: auto;
  color: skyblue;
}

.nav-title h4 {
  font-size: 34px;
  font-weight: normal;
  margin: 0;
  color: skyblue;
}

.page-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}
